body {
  background: #ffffff;
  font-family: 'robotoregular', sans-serif;
  font-size: 14pt;
  color: #000000;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
}
.container {
  margin-left: 16%;
  margin-right: 16%;
  display: flex;
}
#navbar {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  border-bottom: #000000 1px solid;
  z-index: 1;
  transition: top 0.5s;
}
#leftnav {
  display: flex;
  align-items: center;
}
#rightnav {
  height: 90px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
}
#navmowertician {
  height: auto;
  width: auto;
  display: flex;
  position: relative;
  font-family: 'seagram_tfbregular';
}
#navmowertician:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffffff;
  opacity: 0;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}
#navmowertician:hover:before {
  opacity: .4;
}
#navmowertician p {
  margin: 0px 0px;
  font-size: 36pt;
}
#nav_mower {
  color: #000000;
}
#nav_racing {
  color: #0F96DC;
}
#navbar_list li {
  display: inline;
  font-size: 22pt;
}
#navbar_list a {
  transition: 0.3s linear;
}
#navbar_list a:hover {
  color: #0F96DC
}
#navmenu {
  display: block;
  font-size: 22pt;
  margin-left: 10%;
  transition: 0.3s linear;
}
#navmenu:hover {
  color: #0F96DC;
}
#home_page_main_photo {
  height: auto;
  width: 100%;
}
#main_menu {
  display: flex;
  position: absolute;
  height: 1px;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 6000px;
  overflow: hidden;
  z-index: 0.9;
}