body {
  background: #ffffff;
  font-family: 'robotoregular', sans-serif;
  font-size: 14pt;
  color: #000000;
  margin: 0;
  overflow: scroll;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.container {
  margin-left: 16%;
  margin-right: 16%;
  display: flex;
}
#navbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  border-bottom: #000000 1px solid;
  z-index: 1;
  transition: top 0.5s;
}
#leftnav {
  display: flex;
  align-items: center;
}
#rightnav {
  height: 80px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
}
#navmowertician {
  height: auto;
  width: auto;
  display: flex;
  position: relative;
  font-family: 'seagram_tfbregular';
}
#navmowertician:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffffff;
  opacity: 0;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}
#navmowertician:hover:before {
  opacity: .4;
}
#navmowertician p,span {
  margin: 0px 0px;
  font-size: 36pt;
}
#nav_mower {
  color: #000000;
}
#nav_racing {
  color: #0F96DC;
}
#navbar_list li {
  display: inline;
  font-size: 22pt;
}
#navbar_list a {
  transition: 0.3s linear;
}
#navbar_list a:hover {
  color: #0F96DC
}
#navmenu {
  display: block;
  font-size: 22pt;
  margin-left: 10%;
  cursor: pointer;
  transition: 0.3s linear;
}
#navmenu:hover {
  color: #0F96DC;
}
#home_page_main_photo {
  margin-top: 81px;
  height: auto;
  width: 100%;
}
#main_menu {
  display: flex;
  background: #ffffff;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 81px;
  left: -100%;
  border-right: #000000 1px solid;
  overflow: hidden;
  transition: all 1.2s ease;
  z-index: 1;
}
#main_menu_left {
  width: 60%;
}
#main_menu_ex {
  display: block;
  height: 24px;
  width: 24px;
  color: #000000;
  font-size: 24pt;
  position: absolute;
  top: 20px;
  right: 50px;
  transition: color 0.3s linear;
}
#main_menu_ex:hover {
  color: #0F96DC;
}
#main_menu_pic {
  height: 100%;
  width: 100%;
}
#main_menu_right {
  display: flex;
  flex-direction: column;
  font-size: 22pt;
  font-family: 'robotobold', sans-serif;
  font-weight: 600;
  height: auto;
  width: 40%;
  align-items: center;
  justify-content: center;
}
#main_menu_menu ul {
  margin: 0;
}
#main_menu_menu li {
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
}
#main_menu_social {
  padding-bottom: 140px;
}
#main_menu_social li {
  display: inline;
  font-size: 22pt;
}
#main_menu_social a {
  transition: color 0.3s;
}
#main_menu_social a:hover {
  color: #0F96DC;
}
#main_menu_menu a {
  color: #000000;
  position: relative;
  transition: color 0.4s;
}
#main_menu_menu a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: #0F96DC 3px solid;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
#main_menu_menu a:hover::after {
  width: 100%;
}
#main_menu_menu a:hover {
  color: #0F96DC;
}
#mm_racing {
  display: inline;
  color: #0F96DC;
  font-family: 'seagram_tfbregular';
  font-size: 26pt;
}
.latest_news_container {
  flex-direction: column;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.latest_news {
  font-family: 'roboto_condensedbold';
  font-size: 36pt;
  color: #000000;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-bottom: solid 4px;
  border-image: linear-gradient(to right, #ff7E00 30%, #ffffff 30%) 100% 1;
}
#l_news {
  color: #0F96DC;
}
.fb_post_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}
/*.fb_interactive {
  display: block;
  height: auto;
  width: auto;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.fb_interactive:hover {
  background-color: #0F96DC;
}*/
.fb_interactive {
  position: relative;
  padding: 1%;
  border: solid 5px transparent;
}
.fb_interactive:before, .fb_interactive:after {
  content: "";
  position: absolute;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.fb_interactive:after {
  bottom: 0;
  right: 0;
  width: 2%;
  height: 2%;
  border-bottom: 5px #0F96DC solid;
  border-right: 5px #0F96DC solid;
}
.fb_interactive:before {
  top: 0;
  left: 0;
  height: 2%;
  width: 2%;
  border-left: 5px #0F96DC solid;
  border-top: 5px #0F96DC solid;
}
.fb_interactive:hover::after {
  width: 45%;
  height: 45%;
}
.fb_interactive:hover::before {
  height: 45%;
  width: 45%;
}
.next_race_bar {
  display: flex;
  height: 36vh;
  width: 100vw;
  background: rgb(0,41,80);
  background: linear-gradient(100deg, rgba(0,41,80,1) 4%, rgba(0,67,130,1) 50%, rgba(15,150,220,1) 96%);
  margin-top: 3%;
  margin-bottom: 3%;
  border-top: #0F96DC solid 12px;
  border-bottom: #0F96DC solid 12px;
}
.left_race_bar {
  height: auto;
  width: 25%;
  font-size: 32pt;
  color: #ffffff;
  font-family: 'roboto_condensedbold';
}
#next_race_position {
  margin-top: 10%;
  margin-left: 10%;
  padding-bottom: 1%;
  border-bottom: solid 4px;
  border-image: linear-gradient(to right, #ff7E00 30%, #ffffff 30%) 100% 1;
}
#next_race {
  color: #0F96DC;
}
.center_race_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 50%;
}
.center_race_bar span {
  font-family: 'robotoblack_italic';
  font-size: 102pt;
  color: #ffffff;
}
#center_race_month {
  margin-left: 10%;
  color: #0F96DC;
}
#center_race_day {
  color: #ff7E00;
}
#center_race_year {
  margin-right: 10%;
  color: #ffffff;
}
.right_race_bar {
  height: auto;
  width: 25%;
  opacity: .1;
}
.race_bar_pic {
  height: 100%;
  width: 100%;
}
.partners_container {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 5%;
}
.partners_container a {
  margin-top: 1%;
  margin-bottom: 0;
  margin-left: 2%;
  margin-right: 2%;
}
.partners_text {
  display: flex;
  flex-direction: row;
  font-family: 'roboto_condensedbold' , sans-serif;
  font-size: 36pt;
  margin: 0;
  height: 100%;
  align-items: center;
  padding-bottom: 1%;
  border-bottom: solid 4px;
  border-image: linear-gradient(to right, #ff7E00 30%, #ffffff 30%) 100% 1;
}
#team_partners {
  color: #0F96DC;
}
.partner_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.partner_logos_mouseover {
  position: relative;
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.partner_logos_mouseover:hover {
  opacity: 1;
}
.loaded_logo {
  position: absolute;
}